.careContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contentCareContainer {
    background: rgba(255, 255, 255, 0.78);
    border-radius: 0px 0px 12px 12px;
    width: 85%;
    padding: 0px 0px 60px 0px;
}

.tittleContent {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.6);
}

.carousel-img-care{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 20px;
}
.modal.show .modal-dialog {
    padding-top: 150px;
}
.fade modal show{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* <-----------MEDIA QUERY-----------> */
@media all and (max-width: 769px){
    .imgCares{
        height: 35vh;
        width: 25vh;
    }
}
@media all and (max-width: 427px){
    .imgCares{
        height: 24vh;
        width: 16vh;
    }
    .splide__pagination{
        width: 300px;
    }
    .imgModalCare{
        height: 50vh;
        width: 35vh;
    }
    .modal-backdrop {
        width: 100%;
        height: 100%;
    }
}
@media all and (max-width: 376px){
    .imgCares{
        height: 20vh;
        width: 12vh;
    }
}
@media all and (max-width: 321px){
    .imgCares{
        height: 18vh;
        width: 10vh;
    }
    .splide__pagination{
        width: 260px;
    }
    .imgModalCare{
        height: 44vh;
        width: 29vh;
    }
}