.containerCovid{
    width: 100%;
    display: flex;
    justify-content: center;
}
.covidContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 0px 0px 12px 12px;
    width: 85%;
}
.containerContentCovid{
    display: flex;
}
    .containerImgCovidRed{
        display: flex;
        align-items: flex-end;
        padding-left: 30px;
        padding-bottom: 20px;
    }
        .imgCovidRed {
            height: 300px;
        }
    .containerImgCovid{
        display: flex;
        padding-right: 30px;
    }
        .imgCovid{
            height: 250px;
        }
.containerTextCovid{
    padding: 0px 10px 50px 10px;
}
.paddingCovid{
    padding: 40px 40px 0px 40px;
}

/* <-----------MEDIA QUERY-----------> */
@media all and (max-width: 1200px){
    .containerContentCovid{ flex-wrap: wrap; }
    .containerImgCovid{
        padding-left: 30px;
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
    }
    .containerImgCovidRed{
        width: 100%;
        justify-content: center;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    .paddingCovid{ padding: 00px 40px 0px 40px; }
}