.containerFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.footerContainer{
    display: flex;
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 12px;
    width: 85%;
    padding: 23px;
}
    .containerCreatorsFooter{
        font-family: 'Open Sans';
        font-size: 17px;
        color: #0f0f0f;
    }

    .containerIconsFooter{
        display: flex;
    }
    .iconWeb, .iconInsta,
    .iconHootieHoo{
        height: 40px;
        padding: 0px 10px 0px 10px;
    }

/* <-----------MEDIA QUERY-----------> */
@media all and (max-width: 6218px){
    .footerContainer{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}