.containerGames{
    width: 100%;
    display: flex;
    justify-content: center;
}
    .gamesContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.78);
        border-radius: 0px 0px 12px 12px;
        width: 85%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .containerInformationGames{
        display: flex;
    }
    .containerImgGames{
        display: flex;
        align-items: center;
    }
        .imgCenterGames{
            width: 400px;
        }
    .textGames{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 23px;
        line-height: 30px;
        color: #0f0f0f;
        padding-top: 40px;
        text-align: justify;      
    }
    .containerTextAndBtnGames{
        width: 100%;
        height: 100%;
        padding: 10px 40px 40px 40px;
    }

/* <-----------MEDIA QUERY-----------> */
@media all and (max-width: 1026px){
    .containerInformationGames{ flex-direction: column; }
    .containerImgGames{ justify-content: center; }
    .containerTextAndBtnGames{ padding: 40px 40px 10px 40px; }
}
@media all and (max-width: 523px){
    .imgCenterGames{ width: 300px; }
}
@media all and (max-width: 400px){
    .imgCenterGames{ width: 200px; }
}