.containerHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 172px;
    margin-top: 55px;
}
.containerImgHeader{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 12px;
    width: 85%;
}
.imgHeader{
    height: 140px;
}

/* <-----------MEDIA QUERY-----------> */
@media all and (max-width: 768px){
    .imgHeader{ height: 120px; }
}
@media all and (max-width: 425px){
    .containerHeader{ height: 150px; }
    .imgHeader{ height: 90px; }
}