.containerMemoryGames{
    width: 100%;
    display: flex;
    justify-content: center;
}
.memoryGamesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 0px 0px 12px 12px;
    width: 85%;
    padding-top: 30px;
    padding-bottom: 30px;
}

    .titleMemoryGame{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
    }

/* <------------Juego--------------> */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
  }

  .navbar {
    display: flex;
    box-shadow: 4px 4px 6px gray;
    flex-direction: column;
    justify-content: space-around;
    width: 230px;
    background: rgba(139, 190, 243, 0.8);
    border: 5px solid #8BBEF3;
    box-sizing: border-box;
    margin: 12px;
  }

  .detractor-title, .detractor-score {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  .medal-score{width: 105px;}

  .containerInfoGame{
      display: flex;
      width: 100%;
      padding: 30px;
      justify-content: center;
  }
  .containerImgMemoryGame{
    display: flex;
    align-items: center;
  }
  .imgMemoryGame{
    height: 350px;
  }
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 450px;
    width: 570px;
  }
  
  .image {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    padding: 10px;
    margin: 10px;
  }
  
  .image-blank {
    background: url("../Components/Game/Images/1.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    padding: 10px;
    margin: 10px;
  }
  
  .end-game {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    box-shadow: 12px 12px 10px gray;
    background: rgba(250, 97, 100, 0.86);
    border: 8px solid #FA6164;
    box-sizing: border-box;
    margin-left: 30px;
  }
  .containerModalGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: center;
  }
  .lala{
    display: flex;
  }
  .btn-primary{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 236px;
    height: 67px;
    margin: 10px;
    background: #2C4096;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
  }
  .btn-download{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

  color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 236px;
    height: 67px;
    background: #EBBD05;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
  }

  .iconBtnModal{
    height: 50px;
  }
  .btn-primary:hover {
    color: rgb(250, 236, 236);
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-primaryy:hover {
  color: rgb(250, 236, 236);
  background-color: #FFD62E;
  border-color: #FFD62E;
}
/* <-----------MEDIA QUERY-----------> */
@media only screen and (max-width: 1349px) {
  .containerInfoGame{
    flex-direction: column;
    align-items: center;
  }
  .navbar{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .containerImgMemoryGame{ padding-top: 30px;}
  .lala{flex-direction: column;}
  .images{
    width: 100%;
    justify-content: center;
  }
  .containerModalGame {
    align-items: center;
    justify-content: end;
  }
  .message {margin-left: 0px;}
}

@media only screen and (max-width: 700px) {
  .images {
    width: 100%;
    justify-content: center;
    height: 100%;
  }
  .message {
    height: 350px;
    width: 400px;
  }
}
@media only screen and (max-width: 570px) {
  .image {
    height: 100px;
    width: 100px;
  }
  .message {width: 350px;}
}
@media only screen and (max-width: 489px) {
  .navbar{flex-direction: column; align-items: center;}
  .message {width: 300px;}
}
@media only screen and (max-width: 400px) {
  .imgMemoryGame{height: 250px;}
  .message {width: 260px;}
}
@media only screen and (max-width: 355px) {
  .image {height: 86px; width: 86px;}
  .message {width: 220px;}
  .btn-primary,
  .btn-download{
    font-size: 16px;
    width: 190px;
    height: 67px;
  }
}