.containerVideos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.contentContainer{
    background: rgba(255, 255, 255, 0.78);
    border-radius: 0px 0px 12px 12px;
    width: 85%;
    padding: 0px 0px 60px 0px;
}
.tittleContent{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.6);
}

.videito{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 20px;
}

/* <-----------MEDIA QUERY-----------> */
@media all and (max-width: 768px){
    .splide{
        height: 420px;
    }
    iframe{
        width: 90%;
        height: 90%;

    }
}
@media all and (max-width: 426px){
    .splide{
        height: 320px;
        width: 450px;
        margin-left: -40px;
    }
    iframe{
        height: 70%;
        width: 350px;

    }
}
@media all and (max-width: 376px){
    .splide{
        height: 280px;
        width: 440px;
        margin-left: -55px;
    }
    iframe{
        height: 60%;
        width: 360px;

    }
}
@media all and (max-width: 321px){
    .splide{ height: 260px; width: 370px; margin-left: -50px; }
    iframe{ height: 55%; width: 330px; }

}
